<div class="direct-chat-msg content_<%= comment.id %>">
  <div class="direct-chat-infos clearfix">
  </div>
  <%= image_tag(comment.user_avatar, class: "direct-chat-img")%>
  <div class="direct-chat-text">
    <span class="direct-chat-name float-left"><%= comment.user_name %></span>
    <div class="content">
      <%= comment.content %>
    </div>
    <% if current_user && comment.user_id == current_user.id %>
      <div class="control-comment">
        <span>
          <%= link_to edit_teacher_comment_path(@teacher, comment), remote: true do %>
            <i class="fa fa-pencil"></i>
            <%= t("edit") %>
          <% end %>
        </span>
        <span>
          <%= link_to teacher_comment_path(@teacher, comment), method: :delete, remote: true, data: { confirm: t("confirm") } do %>
            <i class="fa fa-trash"></i>
            <%= t("del") %>
          <% end %>
        </span>
      </div>
    <% end %>
    <span class="direct-chat-timestamp float-right"><%= comment.created_at.strftime("%H:%M |   %d-%m-%Y") %></span>
  </div>
</div>
