<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String"><%= t "index" %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t "demander" %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t "email" %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t "phone" %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t "title" %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t "subject" %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t "level_class" %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t "number_student" %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t "time_per_session" %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t "fee" %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t "address" %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t "district" %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t "province" %></Data></Cell>
      </Row>
      <% @demands.each do |demand| %>
        <Row>
          <Cell><Data ss:Type="Number"><%= demand.id %></Data></Cell>
          <Cell><Data ss:Type="String"><%= demand.user_name %></Data></Cell>
          <Cell><Data ss:Type="String"><%= demand.user_email %></Data></Cell>
          <Cell><Data ss:Type="Number"><%= demand.user_phone %></Data></Cell>
          <Cell><Data ss:Type="Number"><%= demand.title %></Data></Cell>
          <Cell><Data ss:Type="Number"><%= demand.subject %></Data></Cell>
          <Cell><Data ss:Type="Number"><%= demand.level_class %></Data></Cell>
          <Cell><Data ss:Type="Number"><%= demand.number_student %></Data></Cell>
          <Cell><Data ss:Type="Number"><%= demand.time_per_session %></Data></Cell>
          <Cell><Data ss:Type="Number"><%= demand.fee %></Data></Cell>
          <Cell><Data ss:Type="Number"><%= demand.address_detail %></Data></Cell>
          <Cell><Data ss:Type="Number"><%= demand.district_name %></Data></Cell> <% byebug %>
          <Cell><Data ss:Type="Number"><%= demand.province_name %></Data></Cell>
        </Row>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>
