<section class="content">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
        </div>
        <div class="btn-export">
          <%= link_to admin_demands_path(format: "xls"), class: "btn btn-success export" do %>
            <i class="fas fa-download"></i>
            <%= t "export" %>
          <% end %>
        </div>
        <div class="card-body">
          <table id="example1" class="table table-bordered table-striped">
            <thead>
              <tr>
                <th></th>
                <th style="width: 139.924px;"><%= t "name" %></th>
                <th><%= t "phone" %></th>
                <th><%= t "title" %></th>
                <th><%= t "status" %></th>
                <th style="width: 99.5686px;"><%= t "status_teach" %></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <%= render @demands %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
