<tr class="teacher_<%= teacher.id %>">
  <td></td>
  <td><%= teacher.user_name %></td>
  <td><%= teacher.user_email %></td>
  <td><%= teacher.user_phone %></td>
  <td><%= amount_offer(teacher) %></td>
  <td class="project-actions text-center">
    <%= link_to admin_teacher_path(teacher), class: "btn btn-primary btn-sm" do %>
      <i class="fas fa-folder"></i>
      <%= t"view" %>
    <% end %>
    <%= link_to admin_teacher_path(teacher), class: "btn btn-danger btn-sm", method: :delete, data: {confirm: t("confirm")} do %>
      <i class="fas fa-trash"></i>
      <%= t "del" %>
    <% end %>
  </td>
</tr>
