<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1><%= t "manage_teacher" %></h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><%= link_to t("home"), admin_dashboard_path %></li>
          <li class="breadcrumb-item"><%= t("manage_teacher") %></li>
        </ol>
      </div>
    </div>
  </div>
</section>
<section class="content">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title"><%= t "manage_teacher" %></h3>
        </div>
        <div class="btn-export">
          <%= link_to admin_teachers_path(format: 'xls'), class: "btn btn-success export" do %>
            <i class="fas fa-download"></i>
            <%= t "export" %>
          <% end %>
        </div>
        <div class="card-body">
          <table id="example1" class="table table-bordered table-striped">
            <thead>
              <tr>
                <th></th>
                <th><%= t "name" %></th>
                <th><%= t "email" %></th>
                <th><%= t "phone" %></th>
                <th><%= t "amount_demand_offered" %></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <%= render @teachers %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
