<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1></h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#"><%= t "home" %></a></li>
          <li class="breadcrumb-item active"><%= t "profile_teacher" %></li>
        </ol>
      </div>
    </div>
  </div>
</section>
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <!-- Profile Image -->
        <div class="card card-primary card-outline">
          <div class="card-body box-profile">
            <div class="text-center">
              <%= image_tag(@teacher.user_avatar, class: "profile-user-img img-fluid img-circle") %>
            </div>
            <h3 class="profile-username text-center"><b><%= @teacher.user_name %></b></h3>
            <ul class="list-group list-group-unbordered mb-3">
              <li class="list-group-item">
                <b><%= t "name" %></b> <a class="float-right"><%= @teacher.user_name %></a>
              </li>
              <li class="list-group-item">
                <b><%= t "birth" %></b> <a class="float-right"><%= @teacher.user_birth %></a>
              </li>
              <li class="list-group-item">
                <b><%= t "email" %></b> <a class="float-right"><%= @teacher.user_email %></a>
              </li>
              <li class="list-group-item">
                <b><%= t "phone" %></b> <a class="float-right"><%= @teacher.user_phone %></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="card">
          <div class="card-header p-2">
            <ul class="nav nav-pills">
              <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab"><%= t "teacher_profile" %></a></li>
              <li class="nav-item"><a class="nav-link" href="#timeline" data-toggle="tab"><%= t "demand_offered" %></a></li>
              <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab"><%= t "demand_posted" %></a></li>
            </ul>
          </div><!-- /.card-header -->
          <div class="card-body">
            <div class="tab-content">
              <div class="active tab-pane" id="activity">
                <div class="row">
                  <div class="col-sm-5"><strong><%= t "graduate" %>:</strong></div>
                  <div class="col-sm-7"><%= @teacher.graduate %></div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-5"><strong><%= t "address" %>:</strong></div>
                  <div class="col-sm-7"><%= @teacher.address %></div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-5"><strong><%= t "subject" %>:</strong></div>
                  <div class="col-sm-7"><%= @teacher.subject %></div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-5"><strong><%= t "level_teach" %>:</strong></div>
                  <div class="col-sm-7"><%= @teacher.level_study %></div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-5"><strong><%= t "addr_study" %>:</strong></div>
                  <div class="col-sm-7"><%= @teacher.district_name %> <%= @teacher.province_name %></div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-5"><strong><%= t "introduce" %>:</strong></div>
                  <div class="col-sm-7"><%= @teacher.introduce %></div>
                </div>
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="timeline">
                <table class="table table-hover display" id="example">
                  <thead>
                    <tr>
                      <th scope="col" class="index"><%= t "index" %></th>
                      <th scope="col"><%= t "demander" %></th>
                      <th scope="col"><%= t "time_offer" %></th>
                      <th scope="col"><%= t "status" %></th>
                    </tr>
                  </thead>
                  <tbody>
                    <%= render partial: "teach_offer", collection: @teach_offers, as: "teach_offer" %>
                  </tbody>
                </table>
              </div>
              <!-- /.tab-pane -->

              <div class="tab-pane" id="settings">
                <% if @demands.present? %>
                  <table class="table table-hover display" id="example">
                  <thead>
                    <tr>
                      <th scope="col" class="index"><%= t "index" %></th>
                      <th scope="col"><%= t "demand" %></th>
                      <th scope="col"><%= t "time_offer" %></th>
                      <th scope="col"><%= t "status" %></th>
                      <th scope="col"><%= t "status_teach" %></th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <%= render partial: "demand_detail", collection: @demands, as: "demand" %>
                  </tbody>
                </table>
                  <% else %>
                    <p><%= t "not_present_demand" %></p>
                <% end %>
              </div>
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div><!-- /.card-body -->
        </div>
        <!-- /.nav-tabs-custom -->
      </div>
    </div>
  </div>
</section>
