<div class="row-request bla-common-shadow ">
  <div class="one-row-class ">
    <div class="row">
      <div class="col-md-8 col-sm-6">
        <div class="row-request-2">
          <h2 class="row-request-title">
            <i class="fa fa-check" aria-hidden="true" style="font-size: 18px;color: #03ad03;margin-right: 2px;" title="Đã xác thực thông tin"></i>
            <%= link_to demand.title, demand_path(demand) %>
          </h2>
          <p style="font-style: italic;">
            <%= demand.note %>
          </p>
          <p style="font-style: italic;">
            <i class="fa fa-user"></i>
            <%= t "post_man" %><%= demand.user_name %>
          </p>
          <span class="span-normal"><%= demand.subject %></span>
          <span class="span-normal"><%= demand.province_name %></span>
          <span class="span-normal"><%= demand.district_name %></span>
        </div>
      </div>
      <div class="col-md-2 col-sm-2">
        <div class="row-request-4">
          <p class="connect-fee connect-fee-price" style="color:#069D86;">
            <span style="color: #4e4d4b;">Phí: </span><%= demand.fee %><span style="font-weight:normal!important;font-size:14px;"> vnđ</span>
          </p>
          <span class="connect-fee-note">(<%= t "fetch_recieve_fee" %>
            <a href="/chinh-sach-phi" target="_blank"><i class="fa fa-exclamation-circle fa-first"></i></a>)
          </span>
          <div class="action-group text-right show-when-hover">
            <%= link_to t("teach_offer"), "#", class: "btn-yellow btn ctools-use-modal ctools-use-modal-processed" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

