<% @demands.each do |demand| %>
  <div class="col-sm-6">
    <div class="class-item-accepted">
      <div class="left-item col-md-2 hidden-xs">
        <span style="font-size: 65px;"><i class="fa fa-book"></i></span>
      </div>
      <div class="right-item col-md-10 col-xs-12">
        <h4>
          <span class="field-content">
            <%= link_to demand.title, demand_path(demand) %>
          </span>
        </h4>
        <span class="span-normal"><%= demand.subject %></span>
        <span class="span-normal"><%= demand.province_name %></span>
        <span class="span-normal"><%= demand.district_name %></span>
        <span class="field_cost"><%= demand.fee %><%= t "vnd" %>/<%= t "month" %></span>
      </div>
    </div>
  </div>
<% end %>
