<%= form_for @demand do |f| %>
  <div class="group-row">
    <div class="row">
      <div class="col-md-12 class-field">
        <p class="p-create-class-title required">
          <%= t "title_demand" %>
        </p>
        <p class='error'><%= show_errors(@demand, :title) %></p>
        <%= f.text_field :title, placeholder: t("ex_title"), maxlength: "100",value: "", class: "form-control" %>
      </div>
      <div class="col-md-6">
        <div class="class-field-4 class-field">
          <p class="p-create-class-title required"><%= t "subject" %></p>
          <p class='error'><%= show_errors(@demand, :subject) %></p>
          <%= f.text_field :subject, value: "" %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="class-field-6 class-field">
          <p class="p-create-class-title required"><%= t "class" %></p>
          <p class='error'><%= show_errors(@demand, :level_class) %></p>
          <%= f.text_field :level_class, min: 1, value: 1 %>
        </div>
      </div>
    </div>
  </div>
  <div class="group-row">
    <div class="row">
      <div class="col-md-6">
        <div class="class-field-6 class-field">
          <p class="p-create-class-title required"><%= t "fee" %></p>
          <p class='error'><%= show_errors(@demand, :fee) %></p>
          <%= f.text_field :fee, class: "numberOnly", autocomplete: "on", maxlength: "13", placeholder: "Ví dụ:250,000", value: "" %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="class-field-6 class-field class-time">
          <p class="p-create-class-title required"><%= t "time_per_session" %></p>
          <p class='error'><%= show_errors(@demand, :time_per_session) %></p>
          <%= f.radio_button :time_per_session, 0.5 %><%= Settings.half_hour %>
          <%= f.radio_button :time_per_session, 1 %><%= Settings.hour %>
          <%= f.radio_button :time_per_session, 1.5 %><%= Settings.one_hafl_hour %>
          <%= f.radio_button :time_per_session, 2 %><%= Settings.two_hour %>
        </div>
      </div>
    </div>
  </div>
  <div class="group-row">
    <div class="row">
      <div class="col-md-6">
        <div class="class-field-6 class-field">
          <p class="p-create-class-title required"><%= t "number_student" %></p>
          <p class='error'><%= show_errors(@demand, :number_student) %></p>
          <%= f.number_field :number_student, min: 1, value: 1 %>
        </div>
      </div>
      <div class="col-md-6">
      </div>
    </div>
  </div>
  <div class="group-row">
    <div class="class-field-6 class-field">
      <p class="p-create-class-title required"><%= t "detail_address" %></p>
    </div>
    <div class="row">
      <div class="col-md-6">
        <p class='error'><%= show_errors(@demand, :province_id) %></p>
        <%= f.collection_select :province_id, Province.order(:name), :id, :name, prompt: t("province") %>
      </div>
      <div class="col-md-6">
        <p class='error'><%= show_errors(@demand, :district_id) %></p>
        <%= f.grouped_collection_select :district_id, Province.order(:name), :districts, :name, :id, :name, prompt: t("district") %>
      </div>
    </div>
    <div class="class-field-6 class-field">
      <p class='error'><%= show_errors(@demand, :number_student) %></p>
      <%= f.text_field :address_detail, placeholder: t("ex_addr") %>
    </div>
  </div>
  <div class="group-row">
    <div class="row">
      <div class="col-md-12">
        <div class="class-field-12 class-field">
          <p class="p-create-class-title required"><i class="fa fa-quote-right" aria-hidden="true"></i><%= t "note" %> </p>
          <p class='error'><%= show_errors(@demand, :note) %></p>
          <%= f.text_area :note, placeholder: t("note")  %>
        </div>
      </div>
    </div>
  </div>
  <div class="group-row">
    <div class="row" style="text-align:center;padding:10px 0;">
      <%= f.submit t("post_demand"), class: "btn-bla-big btn-yellowblacasa", style: "font-weight:bold;border: none;" %>
    </div>
  </div>
<% end %>
