<div class="row demands">
  <div class="col-sm-10 col-sm-push-1">
    <div class="row search">
      <%= search_form_for @q, url: teacher_good_demand_path(teacher_id: current_user.id) do |f| %>
        <div class="form-group">
          <div class="col-sm-1">
            <%= f.label t("search") %>:
          </div>
          <div class="col-sm-3">
            <div class="search-header">
              <div class="form-item form-type-textfield form-item-key">
                <%= f.search_field :subject_cont_any, placeholder: "Tìm theo môn học", class: "form-control form-text" %>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="search-header">
              <div class="form-item form-type-textfield form-item-key">
                <%= f.search_field :level_class_cont_any, placeholder: "Tìm theo trình độ", class: "form-control form-text" %>
              </div>
            </div>
          </div>
          <div class="col-sm-1">
            <%= f.submit t("search"), class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="view-header">
      <span><%= t "demand_good" %></span>
    </div>
    <%= render @demands %>
    <%= paginate @demands %>
  </div>
</div>
