<div class="infor-main-inner" style="">
  <div class="col-md-3 col-sm-4 custom-w-left">
    <div class="real-w">
      <div class="avatar ">
        <div class="popup-gallery">
          <%= image_tag(@teacher.user_avatar, class: "avatar-detail") %>
        </div>
      </div>
    </div>
  </div>
  <div class="custom-w-right col-md-9">
    <div class="headblockTop">
      <div class="p-user-name">
        <span class="p-user-name-text">
          <%= @teacher.user_name %>
        </span>
      </div>
    <% if current_user %>
      <div class="point wVote mb-5">
        <%= rating_for_user @teacher,current_user, "point", cancel: true %>
      </div>
    <% end %>
    </div>
    <div class="headblockSecond">
      <span class="spanArea mr-15">
        <i class="fa fa-user"></i>
        <%= @teacher.user_birth %>
      </span>
    </div>
    <div class="headblockSecond">
      <span class="spanArea mr-15">
        <i class="fa fa-book"></i>
        <%= @teacher.subject %>
      </span>
      <span class="spanArea mr-15">
        <i class="fa fa-book"></i>
        <%= @teacher.level_study %>
      </span>
    </div>
    <div class="headblockSecond">
      <span class="spanArea mr-15">
        <i class="fa fa-graduation-cap"></i>
        <%= @teacher.graduate %>
      </span>
    </div>
    <div class="headblockSecond">
      <a class="spanArea mr-15" href="#map">
        <i class="fa fa-map-marker"></i>
        <%= @teacher.address %>
      </a>
    </div>
    <div class="headblockThird">
      <div class="wrapBlockCount">
        <div class="blockCount">
          <span class="firstLine"><%= total_class_studied @teacher %></span>
          <span class="secondtLine"><%= t "class_studied" %></span>
        </div>
        <div class="blockCount">
          <span class="firstLine">
            <%= avg_rate @teacher %> <span><%= t "point" %></span> / <%= amount_rate @teacher%> <span> <%= t "rate" %></span>
          </span>
          <span class="secondtLine"><%= t "rate" %></span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-10 col-sm-push-1">
    <div class="header-block">
      <h2><%= t "imformation_teacher" %></h2>
    </div>
    <div class="body-block">
      <h3><%= t "intr_expirience" %></h3>
      <p><%= @teacher.introduce %></p>
      <h3><%= t "diploma" %></h3>
      <% if @teacher.diploma.present? %>
        <%= image_tag(@teacher.diploma, class: "diploma") %>
      <% else %>
        <p><%= t "not_diploma" %></p>
      <% end %>
    </div>
    <div class="header-block comment">
      <h2><%= t "comment" %></h2>
    </div>
    <% if user_signed_in? %>
      <%= render "comments/form" %>
    <% end %>
    <div class="comments">
      <%= render partial: "comments/comment", collection: @comments, as: "comment" %>
    </div>
  </div>
</div>
