<section class="content">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title"><%= t "manage_user" %></h3>
          <%= link_to new_admin_user_path, class: "btn btn-inline btn-outline-success btn-flat float-right" do %>
            <i class="fa fa-plus-square"></i>
            <%= t "create_user" %>
          <% end %>
        </div>
        <div class="card-body">
          <table id="example1" class="table table-bordered table-striped">
            <thead>
              <tr>
                <th></th>
                <th><%= t "name" %></th>
                <th><%= t "email" %></th>
                <th><%= t "phone" %></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <%= render @users %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
