<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1><%= t "profile" %></h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#"><%= t "home" %></a></li>
          <li class="breadcrumb-item active"><%= t "user_profile" %></li>
        </ol>
      </div>
    </div>
  </div>
</section>
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <!-- Profile Image -->
        <div class="card card-primary card-outline">
          <div class="card-body box-profile">
            <div class="text-center">
              <%= image_tag(@user.avatar, class: "profile-user-img img-fluid img-circle") %>
            </div>
            <h3 class="profile-username text-center"><b><%= @user.name %></b></h3>
            <ul class="list-group list-group-unbordered mb-3">
              <li class="list-group-item">
                <b><%= t "name" %></b> <a class="float-right"><%= @user.name %></a>
              </li>
              <li class="list-group-item">
                <b><%= t "birth" %></b> <a class="float-right"><%= @user.birth %></a>
              </li>
              <li class="list-group-item">
                <b><%= t "email" %></b> <a class="float-right"><%= @user.email %></a>
              </li>
              <li class="list-group-item">
                <b><%= t "phone" %></b> <a class="float-right"><%= @user.phone %></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="card">
          <div class="card-header p-2">
            <ul class="nav nav-pills">
              <li class="nav-item"><%= t "demand_posted" %></li>
            </ul>
          </div>
          <div class="card-body">
            <div class="tab-content">
              <% if @demands.present? %>
                <table class="table table-hover display" id="example">
                  <thead>
                    <tr>
                      <th scope="col" class="index"><%= t "index" %></th>
                      <th scope="col"><%= t "demand" %></th>
                      <th scope="col"><%= t "time_offer" %></th>
                      <th scope="col"><%= t "status" %></th>
                      <th scope="col"><%= t "status_teach" %></th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <%= render partial: "demand_detail", collection: @demands, as: "demand" %>
                  </tbody>
                </table>

              <% else %>
                <p><%= t "not_present_demand" %></p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
