<div class="footer-call-us bg-gradient-blue">
  <div class="container">
    <h3><%= t "sp_advisory" %></h3>
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12 footer-callus-icon">
        <a class="blacasa-btn-border-only" href="tel:1900636342" style="color:rgb(255,150,30); border:1px solid transparent!important;">
          <i class="fa fa-phone "></i>
          <span><%= t "hotline" %></span>
        </a>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12 footer-callus-icon">
        <a class="blacasa-btn-border-only" href="mailto:contact@blacasa.vn" style="color:#4db748;border:1px solid transparent!important;">
          <i class="fa fa-envelope"></i>
          <span><%= Settings.email %></span>
        </a>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12 footer-callus-icon chat-zopim">
        <a class="blacasa-btn-border-only" href="javascript:$zopim.livechat.window.show();" style="color:#069d86;">
          <i class="fa fa-comment-alt"></i>
          <span><%= t "advisory_online" %></span>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="footer-blog-copyright">
  <div class="container">
    <div class="row" style="border-top:1px solid; padding-top:15px;">
      <div class="col-md-7 col-sm-6 col-xs-12">
        <div class="copy-text">
          <p><%= t "tcgd" %></p>
          <p>
            <%= t "addr" %><br>
            <%= t "license" %><br>
          </p>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6">
        <a href="https://www.dmca.com/Protection/Status.aspx?ID=0fefdd6c-cf49-4e5f-af20-1091349d7407&amp;refurl=https://www.blacasa.vn/" title="DMCA.com Protection Status" class="dmca-badge dmca-badge-img" rel="nofollow" target="_blank"> </a>
        <script src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js"> </script>
        <a style="display: inline-block;" href="http://online.gov.vn/HomePage/WebsiteDisplay.aspx?DocId=41413" rel="nofollow" target="_blank" class="footer-bct-register" title="đăng ký thương mại điện tử">
        </a>
      </div>
    </div>
  </div>
</div>
