<header style="background: #fff;">
  <nav class="navbar navbar-default">
    <div class="container flex-row-nowrap" >
      <div class="flex-row-nowrap" >
        <div id="main-header-logo">
          <%= link_to root_path do %>
            <span class="logo-bg"><%= t "logo" %></span>
          <% end %>
        </div>
        <%= search_form_for @search, url: search_demands_path, html: { method: :post }, id: "blacasa-search-object-form" do |f| %>
          <div>
            <div class="navbar-left hidden-xs">
              <div class="navbar-form">
                <div class="search-header">
                  <div class="form-item form-type-textfield form-item-key">
                    <%= f.search_field :subject_or_level_class_cont_any, placeholder: "Tìm nhu cầu theo môn học và trình độ", class: "form-control form-text", id: "edit-key"%>
                  </div>
                  <%= button_tag(type: "submit", class: "search-demand") do %>
                    <span><i class="fa fa-search"></i></span>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <% if user_signed_in? %>
        <div class="flex-row-nowrap" id="bs-example-navbar-collapse-1">
          <div class="dropdown">
            <ul class="nav navbar-nav navbar-right">
              <li>
                <%= image_tag(current_user.avatar, class: "avatar_menu") %>
              </li>
              <li>
                <div class="dropbtn btn btn-light">
                  <strong>
                    <%= current_user.name %>
                  </strong>
                </div>
                <div class="dropdown-content">
                  <%= link_to edit_user_registration_path do %>
                    <i class="fa fa-cog"></i>
                    <span><%= t"settings" %></span>
                  <% end %>
                  <%= link_to user_my_demands_path(current_user.id) do %>
                    <i class="fa fa-book"></i>
                    <span><%= t "my_demand" %></span>
                  <% end %>
                  <% if can? :read, TeachOffer %>
                    <%= link_to teach_offers_path do %>
                      <i class="fa fa-book"></i>
                      <span><%= t "my_teach_offer" %></span>
                    <% end %>
                  <% end %>
                  <% if current_user.admin? %>
                    <%= link_to admin_dashboard_path do %>
                      <i class="fa fa-tasks"></i>
                      <span><%= t "manage_system" %></span>
                    <% end %>
                  <% end %>
                  <%= link_to "#" do %>
                    <i class="fa fa-bell"></i>
                    <span><%= t "notification" %></span>
                  <% end %>
                  <%= link_to  destroy_user_session_path, method: :delete do %>
                    <i class="fa fa-outdent"></i>
                    <span><%= t "logout" %></span>
                  <% end %>
                </div>
              </li>
              <li>
                <i class="fa fa-caret-down"></i>
              </li>
            </ul>
          </div>
        </div>
      <% else %>
        <div class="flex-row-nowrap" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <%= link_to new_user_session_path, class: "btn btn-light btn-header", data: {toggle:"dropdown"} do %>
                <%= t "login" %>
              <% end %>
            </li>
            <li>
              <%= link_to new_user_registration_path, class: "btn btn-light btn-header", data: {toggle:"dropdown"} do %>
                <%= t "signup" %>
              <% end %>
            </li>
          </ul>
        </div>
      <% end %>
    </div>
  </nav>
  <nav id="navbar-scroll">
    <div class="container" style="height:100%;">
      <div class="row">
        <ul>
          <li>
            <%= link_to root_path do %>
              <i class="fa fa-home" aria-hidden="true"></i>
              <span><%= t "home" %></span>
            <% end %>
          </li>
          <li>
            <%= link_to new_demand_path do %>
              <i class="fa fa-plus-circle" aria-hidden="true"></i>
              <span><%= t "post_demand" %></span>
            <% end %>
          </li>
          <li>
            <%= link_to demands_path do %>
              <i class="fa fa-book" aria-hidden="true"></i>
              <span><%= t "new_demand" %></span>
            <% end %>
          </li>
          <% if current_user.nil? || current_user.teacher.nil? %>
            <li>
              <%= link_to new_teacher_path do %>
                <i class="fa fa-book" aria-hidden="true"></i>
                <span><%= t "be_teacher" %></span>
              <% end %>
            </li>
          <% elsif current_user %>
            <li>
              <%= link_to teacher_good_demand_path(current_user) do %>
                <i class="fa fa-book" aria-hidden="true"></i>
                <span><%= t "accordant_demand" %></span>
              <% end %>
            </li>
          <% end %>
          <li class="hidden-max413">
            <%= link_to teachers_path do %>
              <i class="fa fa-user" aria-hidden="true"></i>
              <span><%= t "good_teacher" %></span>
            <% end %>
          </li>
          <li class="contact">
            <i class="fa fa-phone"></i>
            <span><%= Settings.phone %></span>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
