<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <div class="form-group">
      <div class="row">
        <div class="col-sm-2">
          <%= image_tag("default-ava.jpeg", size: "50x50", class: "rounded-circle", id: "img_prev") %>
        </div>
        <div class="col-sm-10">
          <%= f.file_field :avatar, class: "upload-img" %>
        </div>
      </div>
    </div>
    <div class="row role ">
      <div class="col-sm-4">Bạn là:</div>
      <div class="col-sm-4">
        <%= f.radio_button :role, Settings.demand_role, checked: true, class: "form-check-input" %>
        <%= f.label t("student"), class: "form-check-label"%>
      </div>
      <div class="col-sm-4">
        <%= f.radio_button :role, Settings.teacher_role, class: "form-check-input" %>
        <%= f.label t("teacher"), class: "form-check-label"%>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="input-group">
          <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "input--style-2", placeholder: t("ex_name") %>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="input-group">
          <%= f.date_field :birth, autofocus: true, autocomplete: "birth", max: Date.today, class: "input--style-2" %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="input-group">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input--style-2", placeholder: t("ex_mail") %>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="input-group">
          <%= f.text_field :phone, autofocus: true, autocomplete: "phone", class: "input--style-2", placeholder: t("ex_phone") %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="input-group">
          <%= f.password_field :password, autocomplete: "new-password", class: "input--style-2", placeholder: t("ex_pwd") %>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="input-group">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input--style-2", placeholder: t("ex_pwd_conf") %>
        </div>
      </div>
    </div>

    <div class="form-teacher">
      <%= f.fields_for :teacher, id: "form-teacher" do |ff| %>
        <div class="form-group">
          <div class="row">
            <div class="col-sm-2">
              <%= image_tag("certificates-default.jpg", size: "50x50", class: "rounded-circle", id: "diploma_prev") %>
            </div>
            <div class="col-sm-3">
              <%= ff.file_field :diploma, class: "upload-diploma" %>
            </div>
          </div>
        </div>

        <div class="col-sm-12">
          <div class="input-group">
            <%= ff.text_field :graduate, autofocus: true, autocomplete: "name", class: "input--style-2", placeholder: t("ex_graduate") %>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="input-group">
            <%= ff.text_field :address, autofocus: true, autocomplete: "name", class: "input--style-2", placeholder: t("ex_addr") %>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="input-group">
            <%= ff.text_field :subject, autofocus: true, autocomplete: "name", class: "input--style-2", placeholder: t("ex_suject_teach") %>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="input-group">
            <%= ff.text_field :level_study, autofocus: true, autocomplete: "name", class: "input--style-2", placeholder: t("ex_level_study") %>
          </div>
        </div>
        <div class="col-sm-12">
          <%= f.label t "address_teach" %>
        </div>
        <div class="col-sm-6">
          <%= ff.collection_select :province_id, Province.order(:name), :id, :name, prompt: t("province") %>
        </div>
        <div class="col-md-6">
          <%= ff.grouped_collection_select :district_id, Province.order(:name), :districts, :name, :id, :name, prompt: t("district") %>
        </div>
        <div class="col-sm-12">
          <div class="input-group">
            <%= ff.text_area :introduce, autofocus: true, autocomplete: "name", class: "input--style-2", placeholder: t("ex_intr") %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="actions" style="margin-top: 2rem;
      text-align: right;">
      <%= f.submit t("signup"), class: "btn btn-success" %>
    </div>
<% end %>
